<div class="container">
  <div class="text-center">
  <h1><%= @article.title %></h1>

  <p><%= @article.content %></p>
</div>

<div class="container">
  <div class="actions text-center">
    <ul id="list">
      <li><%= link_to(edit_article_path(@article)) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <p>Edit Article</p>
      <% end %>
      </li>

      <li><%= link_to(articles_path) do %>
        <i class="fa fa-undo" aria-hidden="true"></i>
        <p>Back to index</p>
      <% end %>
      </li>

      <li><%= link_to(article_path(@article), method: :delete, data: { confirm: "Are you sure?" }) do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <p>Delete Article</p>
      <% end %>
      </li>
    </ul>
  </div>
</div>




